.title {
	font-size: 18px;
}

.nav__list {
	display: none;
}

.humburger__lines {
	display: flex;
}

.humburger__lines .line {
	display: block;
}

.header__title {
	font-size: 40px;
}

.trend__list {
	flex-wrap: wrap;
}

.trend {
	width: calc(50% - 2px);
	height: 247px;
}

.trend__title {
	font-size: 17px;
}

.post {
	flex-direction: column;
	gap: 16px;
	border-bottom: 3px solid #eee;
	padding-bottom: 17px;
	margin-bottom: 30px;
}

.post__img-box {
	max-width: none;
	margin-right: 0;
}

.frame {
	max-width: none;
}

.post__title {
	font-size: 17px;
}

.post__about {
	margin-bottom: 35px;
}

.good {
	max-width: none;
	width: calc(50% - 25px);
}

